html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bg-header-main {
  background-image: url("../img/header.jpg");
  height: 0;
  background-size: 100%;
  padding-bottom: 25%;
}
.bg-header-second {
  background-image: url("../img/header-second.jpg");
  height: 0;
  background-size: 100%;
  padding-bottom: 13%;
}
.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
#m-nav {
  display: none;
  margin-top: -5px;
}
#m-nav div {
  margin-top: -2px;
}
.main-nav {
  height: 45px;
  border: 1px solid #000;
  border-radius: 12px;
  background: #fefefe;
  background: url("data:image/svgxml");
  background: -moz-linear-gradient(top, #fefefe 0%, #ededed 50%, #dbdbdb 51%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(50%, #ededed), color-stop(51%, #dbdbdb), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, #fefefe 0%, #ededed 50%, #dbdbdb 51%, #d8d8d8 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #ededed 50%, #dbdbdb 51%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #ededed 50%, #dbdbdb 51%, #d8d8d8 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #ededed 50%, #dbdbdb 51%, #d8d8d8 100%);
}
.main-nav ul {
  margin-top: 13px;
  margin-bottom: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  font: 13px 'Droid Sans', sans-serif;
}
.main-nav ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.main-nav ul li a {
  color: #000;
}
.main-nav #logout-menu {
  display: none;
}
.main-nav #login-container,
.main-nav #register-container {
  display: none;
  margin-top: 20px;
}
.main-nav #login-container a,
.main-nav #register-container a {
  background: #70afb6;
  background: -moz-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%);
  background: -webkit-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%);
  background: linear-gradient(to bottom, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%);
  border: 1px solid #2c6b72;
  border-radius: 7px;
  height: 50px;
  padding: 5px;
  color: #fff;
  font: 15px 'Droid Sans', sans-serif;
}
.main-nav #login-container input {
  width: 152px;
}
.main-nav #login-container input:first-of-type {
  margin-left: 7px;
}
.main-nav #register-container input {
  width: 146px;
  margin-left: 2px;
}
.slogan {
  flex-grow: 1;
  margin-top: 23px;
  font: italic 12px 'Georgia', serif;
  color: #77808d;
}
.center {
  align-self: center;
}
#header-content .carousel-control {
  width: 0 !important;
}
#header-content .carousel-inner {
  text-align: center;
  margin-top: 3%;
}
#header-content .carousel-inner .item p:nth-of-type(1) {
  font: 3vw 'Goudy Bookletter 1911', serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
#header-content .carousel-inner .item p:nth-of-type(2) {
  font: italic 1.8vw 'Georgia', serif;
  color: #778292;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
#header-content a.left {
  left: 10px;
}
#header-content a.right {
  right: 10px;
}
#header-text {
  font: 3vw 'Goudy Bookletter 1911', serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
#header-text-sub {
  font: italic 1.4vw 'Georgia', serif;
  color: #778292;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
select:invalid {
  color: #999;
}
.content-bg {
  background: url("../img/content-bg.png") top right;
  border-top: 1px solid #fff;
  -webkit-box-shadow: inset 0 58px 20px -55px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 58px 20px -55px rgba(0,0,0,0.4);
  box-shadow: inset 0 58px 20px -55px rgba(0,0,0,0.4);
  border-bottom: 1px solid #e0e0e0;
  min-height: 437px;
}
.content-bg .header-buttons a {
  margin-top: -22px;
  color: #fff;
  font: 26px 'Goudy Bookletter 1911', serif;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  float: left;
  line-height: 40px;
  text-decoration: none;
}
.content-bg .header-buttons a:nth-of-type(1) {
  margin-left: 35.5%;
}
.content-bg .header-buttons a:nth-of-type(2) {
  padding-left: 8px;
}
.content-bg .header-buttons a span {
  background: #70afb6;
  background: -moz-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%);
  background: -webkit-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%);
  background: linear-gradient(to bottom, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%);
  border: 1px solid #2c6b72;
  border-radius: 7px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 3px 1px #888;
}
.content-bg #container-m #register-container-m,
.content-bg #container-m #login-container-m {
  display: none;
}
.content-bg #container-m #login-btn-m {
  width: 53px;
}
.content-bg #container-m #register-btn-m {
  width: 66px;
}
#content {
  width: 100%;
  overflow: hidden;
  color: #8c8a8a;
}
#content article section p img {
  float: left;
  margin-top: 5px;
  margin-right: 12px;
}
#content .main-row {
  min-height: 580px;
}
#content .main-row svg {
  margin-top: 15px;
}
#content .main-row svg g path,
#content .main-row svg tspan {
  cursor: pointer;
}
#content #left-section {
  background-image: url("../img/border-content.png");
  background-repeat: repeat-y;
  background-position: right;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}
#content #left-section form {
  margin-top: 30px;
}
#content #left-section #search-btn {
  margin-top: 20px;
  width: 54px;
}
#content #left-section #addOffer-btn {
  width: 49px;
}
#content #left-section #comments-list {
  margin-top: 25px;
}
#content #left-section #comments-list section {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
#content #left-section #comments-list section b {
  font: 23px 'Goudy Bookletter 1911', serif;
  color: #565656;
}
#content #left-section #comments-list section span {
  font: 18px 'Goudy Bookletter 1911', serif;
  color: #b6b5b5;
}
#content #left-section #comments-list section p {
  font: 13px 'Droid Sans', sans-serif;
}
#content #left-section #comments-list #back-btn {
  margin-bottom: 20px;
}
#content .offer {
  margin: 0;
}
#content .offer textarea {
  display: none;
}
#content .offer:last-child {
  padding-bottom: 20px;
}
#content .offer h3 + p {
  font: italic 14px 'Georgia', serif;
  color: #a2a2a2;
}
#content .offer h3 + p span {
  font: inherit;
  font-size: 15px;
  color: #797979;
}
#content .offer h3 + p #count-comments a {
  font-size: 15px;
  color: #797979;
  text-decoration: underline;
}
#content .offer h3 + p #count-comments a:hover,
#content .offer h3 + p #count-comments a:hover span {
  color: #2c2c2c;
}
#content .offer h3 + p #count-comments a span {
  font: normal 15px 'Times New Roman', sans-serif;
}
#content .offer figure img {
  max-width: 150px;
  max-height: 150px;
}
#content .offer figure figcaption {
  font: 15px 'Droid Sans', sans-serif;
  color: #a2a2a2;
}
#content .offer figure figcaption span {
  font-size: 17px;
  color: #797979;
}
#content .offer .text {
  margin-left: 4px;
}
#content h3 {
  font: 24px 'Goudy Bookletter 1911', serif;
  color: #758b8d;
}
#content span {
  font: 12px 'Droid Sans', sans-serif;
}
#content span.irs-with-grid {
  margin-top: 20px;
}
#content p.region,
#content p.irs-from-bind {
  margin-top: 20px;
  font: 15px 'Droid Sans', sans-serif;
  color: #a2a2a2;
}
#content p.region span,
#content p.irs-from-bind span {
  font-size: 17px;
  color: #797979;
}
#content #user-offers h3 span {
  font: 19px 'Times New Roman', sans-serif;
}
#content #user-offers ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -ms-padding-start: 0;
  padding-start: 0;
  padding: 0;
}
#content #user-offers ul li span {
  margin-left: 10px;
  font-size: 13px;
}
#content #user-offers ul li:before {
  content: url("../img/bullets.png");
}
#content div#location-map {
  height: 400px;
  width: 100%;
  margin-top: 50px;
}
#content #sendMail-btn {
  width: 54px;
}
#content #mail-title {
  margin-top: 42px;
}
#content #github-logo {
  margin-top: 125px;
  margin-bottom: 10px;
  margin-left: 2px;
}
#multimedia-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
#multimedia-left {
  background: url("../img/left-multimedia-bg.png") no-repeat;
  width: 24px;
  margin-left: 10px;
}
#multimedia-center {
  background: url("../img/multimedia-bg.png") repeat-x;
  height: 115px;
  width: 100%;
}
#multimedia-center div {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#multimedia-center div a {
  margin-left: 10px;
}
#multimedia-right {
  background: url("../img/right-multimedia-bg.png") no-repeat top right;
  width: 24px;
  margin-right: 10px;
}
#home-bottom-text {
  font: 24px 'Goudy Bookletter 1911', serif;
  color: #758b8d;
  text-align: center;
  margin: 8px 0 8px 0;
}
.webly-btn {
  background: #fdfdfd;
  background: url("data:image/svgxml");
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f7f7f7 50%, #f2f2f2 51%, #efefef 100%) /* FF3.6-15 */;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(50%, #f7f7f7), color-stop(51%, #f2f2f2), color-stop(100%, #efefef)) /* Chrome4-9,Safari4-5 */;
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f7f7f7 50%, #f2f2f2 51%, #efefef 100%) /* Chrome10-25,Safari5.1-6 */;
  background: -o-linear-gradient(top, #fdfdfd 0%, #f7f7f7 50%, #f2f2f2 51%, #efefef 100%) /* Opera 11.10-11.50 */;
  background: -ms-linear-gradient(top, #fdfdfd 0%, #f7f7f7 50%, #f2f2f2 51%, #efefef 100%) /* IE10 preview */;
  background: linear-gradient(to bottom, #fdfdfd 0%, #f7f7f7 50%, #f2f2f2 51%, #efefef 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
  display: block;
  color: #7e9294;
  font-size: 13px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ebeaea;
  border-bottom: 1px solid #cfcece;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Droid Sans', Arial, sans-serif;
}
.webly-btn:hover {
  color: #385e62;
}
a.webly-btn {
  text-decoration: none;
}
#home-bottom-text a.webly-btn {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
#footer-top {
  background: url("../img/footer.png") repeat-x;
}
#footer-top h3 {
  font: 24px 'Goudy Bookletter 1911', serif;
  color: #fff;
}
#footer-top #footer-logo {
  max-width: 35%;
}
#footer-top #footer-logo + span {
  font: italic 11px 'Georgia', serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
#footer-top p {
  margin-bottom: 20px;
}
#footer-top p img {
  float: left;
  margin-top: 5px;
  margin-right: 12px;
}
#footer-top span,
#footer-top li a {
  font: 12px 'Droid Sans', sans-serif;
  color: #aebdd1;
}
#footer-top ul {
  list-style-type: none;
}
#footer-top ul li:before {
  content: url("../img/bullets.png");
  float: left;
  margin-left: -10px;
}
#footer-top .section-2 {
  margin-top: 8px;
}
#footer-top .section-2 h3 {
  margin-left: 110px;
}
#footer-top .section-2 ul {
  margin-left: 85px;
}
#footer-top .section-3 {
  margin-top: 8px;
}
#footer-top .section-3 h3 {
  margin-left: 150px;
}
#footer-top .section-3 ul {
  margin-left: 121px;
}
#footer-bottom {
  background-color: #131a25;
  border-top: 1px solid #2c333e;
  font: 12px 'Droid Sans', sans-serif;
  color: #aebdd1;
}
.page {
  width: 960px;
  margin: 0 auto;
}
.list-of-posts {
  min-height: 700px;
}
.pagination li {
  list-style: none;
  float: left;
  width: 20px;
  height: 20px;
  font: 24px 'Georgia', serif;
  color: #758b8d;
  text-align: center;
  cursor: pointer;
}
.pagination li:nth-child(n + 11) {
  margin-left: 7px;
}
.pagination li:hover {
  color: #2f393a;
  font-size: 26px;
}
.pagination ul {
  border: 0;
  padding: 0;
}
.active-class {
  color: #2f393a !important;
  font-size: 26px !important;
}
@media (min-width: 990px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 768px) {
  #header-content,
  nav.center,
  div.header-buttons {
    display: none !important;
  }
  #container-m {
    padding-top: 15px;
  }
  div.flex-header {
    display: block !important;
  }
  div.flex-header img {
    max-width: 20%;
  }
  div.flex-header #m-nav {
    display: inline-block;
    float: right;
    background-color: inherit;
    border: none;
  }
  div.flex-header #m-nav #navbar {
    position: absolute;
    background-color: #fff;
    z-index: 50;
    right: 60px;
    top: 10px;
  }
  .content-bg #content span {
    font-size: 16px;
  }
  .content-bg #github-logo {
    margin-top: 12px;
  }
  #left-section #svg-map span {
    font-size: 14px !important;
  }
  #multimedia-center {
    padding-right: 10px;
  }
  #multimedia-center a:nth-child(3) {
    display: none;
  }
}
@media (max-width: 990px) {
  #content #left-section {
    background: url("");
  }
  #content #github-logo {
    margin-top: 12px;
  }
  div#header-content {
    margin-top: -9px;
  }
  .content-bg div.header-buttons a:nth-of-type(1) {
    margin-left: 30%;
  }
  #multimedia-center a:nth-child(even) {
    display: none;
  }
  #footer-top .container {
    padding-top: 0 !important;
  }
  #footer-top section h3,
  #footer-top section ul {
    margin-left: 0 !important;
  }
  #footer-top section:first-child h3 {
    margin-top: 6px;
  }
  #footer-top ul li {
    padding-right: 10px;
    display: inline-block;
  }
  #footer-bottom p {
    float: none !important;
  }
}
