html, body
  width 100%
  height 100%
  margin 0
  padding 0
  overflow-x: hidden

//HEADER
.bg-header-main
  background-image url('../img/header.jpg')
  height 0
  background-size 100%
  padding-bottom: 25%

.bg-header-second
  background-image url('../img/header-second.jpg')
  height 0
  background-size 100%
  padding-bottom 13%

.flex-header
  display flex
  flex-direction row
  justify-content space-between
  margin-top 5px

#m-nav
  display none
  margin-top -5px
  div
    margin-top -2px

.main-nav
  height 45px
  border 1px solid black
  border-radius 12px
  background rgb(254, 254, 254)
  background url(data:image/svg + xml)
  background -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(237, 237, 237, 1) 50%, rgba(219, 219, 219, 1) 51%, rgba(216, 216, 216, 1) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(50%, rgba(237, 237, 237, 1)), color-stop(51%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(216, 216, 216, 1)))
  background -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(237, 237, 237, 1) 50%, rgba(219, 219, 219, 1) 51%, rgba(216, 216, 216, 1) 100%)
  background -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(237, 237, 237, 1) 50%, rgba(219, 219, 219, 1) 51%, rgba(216, 216, 216, 1) 100%)
  background -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(237, 237, 237, 1) 50%, rgba(219, 219, 219, 1) 51%, rgba(216, 216, 216, 1) 100%)
  background linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(237, 237, 237, 1) 50%, rgba(219, 219, 219, 1) 51%, rgba(216, 216, 216, 1) 100%)
  ul
    margin-top 13px
    margin-bottom 10px
    padding-left 2rem
    padding-right 2rem
    font 13px 'Droid Sans', sans-serif
    li
      display inline
      margin-left 5px
      margin-right 5px
      a
        color black
  #logout-menu
    display none
  #login-container, #register-container
    display none
    margin-top 20px
    a
      background: #70afb6
      background: -moz-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%)
      background: -webkit-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%)
      background: linear-gradient(to bottom, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%)
      border 1px solid #2C6B72
      border-radius 7px
      height 50px
      padding 5px
      color white
      font 15px 'Droid Sans', sans-serif
  #login-container input
    width 152px
    &:first-of-type
      margin-left 7px
  #register-container input
    width 146px
    margin-left 2px

.slogan
  flex-grow 1
  margin-top 23px
  font italic 12px 'Georgia', serif
  color #77808d

.center
  align-self center

#header-content
  .carousel-control
    width 0 !important
    color none
  .carousel-inner
    text-align center
    margin-top 3%
    .item
      p
        &:nth-of-type(1)
          font 3vw 'Goudy Bookletter 1911', serif
          color #ffffff
          text-shadow 1px 1px 1px rgba(0, 0, 0, 0.7)
        &:nth-of-type(2)
          font italic 1.8vw 'Georgia', serif
          color #778292
          text-shadow 1px 1px 1px rgba(0, 0, 0, 0.7)
  a.left
    left 10px
  a.right
    right 10px

#header-text
  font 3vw 'Goudy Bookletter 1911', serif
  color #ffffff
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.7)

#header-text-sub
  font italic 1.4vw 'Georgia', serif
  color #778292
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.7)

//CONTENT
select
  &:invalid
    color: #999999

.content-bg
  background url(../img/content-bg.png) top right
  border-top: 1px solid #ffffff;
  -webkit-box-shadow: inset 0 58px 20px -55px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: inset 0 58px 20px -55px rgba(0, 0, 0, 0.40);
  box-shadow: inset 0 58px 20px -55px rgba(0, 0, 0, 0.40);
  border-bottom 1px solid #e0e0e0
  min-height 437px;
  .header-buttons a
    margin-top -22px
    color #ffffff;
    font 26px 'Goudy Bookletter 1911', serif
    display block;
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.5)
    float left
    line-height 40px
    text-decoration: none
    &:nth-of-type(1)
      margin-left 35.5%
    &:nth-of-type(2)
      padding-left 8px
    span
      background: #70afb6
      background: -moz-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%)
      background: -webkit-linear-gradient(top, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%)
      background: linear-gradient(to bottom, #70afb6 0%, #589198 48%, #589198 48%, #51878d 50%, #4b7b80 100%)
      border 1px solid #2C6B72
      border-radius 7px
      display block
      padding-left 20px
      padding-right 20px
      box-shadow 0 3px 1px #888888

  #container-m
    padding-top 15px
    #register-container-m, #login-container-m
      display none
    #login-btn-m
      width 53px
    #register-btn-m
      width 66px


#content
  width 100%
  overflow hidden
  color #8c8a8a
  article
    section p img
      float left
      margin-top 5px
      margin-right 12px
  .main-row
    min-height 580px
    svg
      margin-top 15px
      g path, tspan
        cursor pointer
  #left-section
    background-image: url(../img/border-content.png);
    background-repeat: repeat-y;
    background-position: right;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    form
      margin-top 30px
    #search-btn
      margin-top 20px
      width 54px;
    #addOffer-btn
      width 49px;
    #comments-list
      margin-top 25px
      section
        background-color white
        border-radius 10px
        padding 10px
        b
          font 23px 'Goudy Bookletter 1911', serif
          color #565656
        span
          font 18px 'Goudy Bookletter 1911', serif
          color #b6b5b5
        p
          font 13px 'Droid Sans', sans-serif
      #back-btn
        margin-bottom 20px
  .offer
    margin 0
    textarea
      display none
    &:last-child
      padding-bottom 20px
    h3 + p
      font italic 14px 'Georgia', serif
      color #a2a2a2
      span
        font inherit
        font-size 15px
        color #797979
      #count-comments a
        font-size 15px
        color #797979
        text-decoration underline
        &:hover, &:hover span
          color darken(#797979, 30)
        span
          font normal 15px 'Times New Roman', sans-serif
    figure
      img
        max-width 150px
        max-height 150px
      figcaption
        font 15px 'Droid Sans', sans-serif
        color #a2a2a2
        span
          font-size 17px
          color #797979
    .text
      margin-left 4px
  h3
    font 24px 'Goudy Bookletter 1911', serif
    color #758b8d
  span
    font 12px 'Droid Sans', sans-serif
  span.irs-with-grid
    margin-top 20px
  p.region, p.irs-from-bind
    margin-top 20px
    font 15px 'Droid Sans', sans-serif
    color #a2a2a2
    span
      font-size 17px
      color #797979
  //add offer
  #user-offers
    h3 span
      font 19px 'Times New Roman', sans-serif
    ul
      list-style-type none
      -webkit-padding-start 0
      -moz-padding-start 0
      -ms-padding-start 0
      padding-start 0
      padding 0
      li
        span
          margin-left 10px
          font-size 13px
        //bullets
        &:before
          content url(../img/bullets.png)
  div#location-map
    height 400px
    width 100%
    margin-top 50px
  #sendMail-btn
    width 54px
  #mail-title
    margin-top 42px
  #github-logo
    margin-top 125px
    margin-bottom 10px
    margin-left 2px

#multimedia-container
  display flex
  margin-top 30px
  margin-bottom 30px

#multimedia-left
  background url(../img/left-multimedia-bg.png) no-repeat
  width 24px
  margin-left 10px

#multimedia-center
  background url(../img/multimedia-bg.png) repeat-x
  height 115px
  width 100%
  div
    display flex
    justify-content space-around
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform translateY(-50%)
    -ms-transform translateY(-50%)
    a
      margin-left 10px

#multimedia-right
  background url(../img/right-multimedia-bg.png) no-repeat top right
  width 24px
  margin-right 10px

#home-bottom-text
  font 24px 'Goudy Bookletter 1911', serif
  color #758b8d
  text-align center
  margin 8px 0 8px 0

.webly-btn
  background rgb(253, 253, 253)
  background url(data:image/svg + xml)
  background -moz-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(239, 239, 239, 1) 100%) /* FF3.6-15 */
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 253, 253, 1)), color-stop(50%, rgba(247, 247, 247, 1)), color-stop(51%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(239, 239, 239, 1))) /* Chrome4-9,Safari4-5 */
  background -webkit-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(239, 239, 239, 1) 100%) /* Chrome10-25,Safari5.1-6 */
  background -o-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(239, 239, 239, 1) 100%) /* Opera 11.10-11.50 */
  background -ms-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(239, 239, 239, 1) 100%) /* IE10 preview */
  background linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(247, 247, 247, 1) 50%, rgba(242, 242, 242, 1) 51%, rgba(239, 239, 239, 1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display block
  color #7e9294
  font-size 13px
  line-height 25px
  padding-left 10px
  padding-right 10px
  border 1px solid #EBEAEA
  border-bottom 1px solid #CFCECE
  border-radius 10px
  text-shadow 1px 1px 1px #ffffff
  font-family 'Droid Sans', Arial, sans-serif
  &:hover
    color #385e62

a.webly-btn
  text-decoration: none

#home-bottom-text a.webly-btn
  margin-left 20px
  display inline-block
  vertical-align middle

//FOOTER
#footer-top
  background url(../img/footer.png) repeat-x
  h3
    font 24px 'Goudy Bookletter 1911', serif
    color #ffffff
  #footer-logo
    max-width 35%
    & + span
      font italic 11px 'Georgia', serif
      color #ffffff
      text-shadow 1px 1px 1px rgba(0, 0, 0, 0.7)
  p
    margin-bottom 20px
    img
      float left
      margin-top 5px
      margin-right 12px
  span, li a
    font 12px 'Droid Sans', sans-serif
    color #aebdd1
  ul
    list-style-type none
    //bullets
    li
      &:before
        content url(../img/bullets.png)
        float left;
        margin-left -10px

  .section-2
    margin-top 8px
    h3
      margin-left 110px
    ul
      margin-left 85px
  .section-3
    margin-top 8px
    h3
      margin-left 150px
    ul
      margin-left 121px

#footer-bottom
  background-color #131a25
  border-top 1px solid #2c333e
  font 12px 'Droid Sans', sans-serif
  color #aebdd1

//-----------------------------------------

//PAGINATION
.page
  width 960px;
  margin 0 auto;

.list-of-posts
  min-height 700px;

.pagination li
  list-style none
  float left
  width 20px
  height 20px
  font 24px 'Georgia', serif
  color #758b8d
  text-align center
  cursor pointer

.pagination li
  &:hover
    color darken(#758b8d, 30)
    font-size 26px

.pagination ul
  border 0
  padding 0

.active-class
  color darken(#758b8d, 30) !important
  font-size 26px !important

//------------------------------------

//change default grid
@media (min-width: 990px)
  .container
    width 960px

//mobile
@media (max-width: 768px)
  #header-content, nav.center, div.header-buttons
    display none !important

  div.flex-header
    display block !important
    img
      max-width 20%
    #m-nav
      display inline-block
      float right
      background-color inherit
      border none
      #navbar
        position absolute
        background-color white
        z-index 50
        right 60px
        top 10px

  .content-bg
    #content span
      font-size 16px
    #github-logo
      margin-top 12px

  #left-section
    #svg-map span
      font-size 14px !important

  #multimedia-center
    padding-right 10px
    a:nth-child(3)
      display none

//tablet
@media (max-width: 990px)
  #content
    #left-section
      background url("")
    #github-logo
      margin-top 12px

  div#header-content
    margin-top -9px

  .content-bg div.header-buttons a
    &:nth-of-type(1)
      margin-left 30%

  #multimedia-center
    a
      &:nth-child(even)
        display none

  #footer-top
    .container
      padding-top 0 !important
    section
      h3, ul
        margin-left 0 !important
    section
      &:first-child
        h3
          margin-top 6px
    ul
      li
        padding-right 10px
        display inline-block

  #footer-bottom
    p
      float none !important




