<div class="row main-row">
    <div id="left-section" class="col-md-6 ">


        <form>
            <div class="form-group">
                <!--<label for="title">Title</label>-->
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>

            <div class="form-group">
                <!--<label for="price">Price</label>-->
                <input type="text" class="form-control" id="price" placeholder="Price">
            </div>
            <div class="form-group">
                <!--<label for="img-utl">Img URL</label>-->
                <input type="url" class="form-control" id="img-url" placeholder="Img URL">
            </div>
            <div class="form-group">
                <!--<label for="sel1">Regions</label>-->
                <select class="form-control" id="select" required>
                    <option value="" disabled selected hidden>Region</option>
                    <option value="Sofia">Sofia</option>
                    <option value="Burgas">Burgas</option>
                    <option value="Varna">Varna</option>
                    <option value="Vidin">Vidin</option>
                    <option value="Plovdiv">Plovdiv</option>
                    <option value="Pleven">Pleven</option>
                    <option value="Razgrad">Razgrad</option>
                    <option value="Haskovo">Haskovo</option>
                </select>
            </div>
            <div class="form-group">
                <!--<label for="textarea">Text</label>-->
                <textarea class="form-control" rows="5" id="textarea"></textarea>
            </div>

            <a id="addOffer-btn" class="btn btn-default" type="submit">Submit</a>
        </form>


    </div>


    <div id="right-section" class="col-md-6">
        <div id="user-offers">
            <h3>{{user}} you have {{totalObjects}} offers</h3>
            <ul>
                {{#each data}}
                    <li><a href="">{{text}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>