<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <p>Finding New Home Has Never Been Easier</p>
            <p>"Join today.Save time and money"</p>
        </div>

        <div class="item">
            <p>Finding New Home Has Never Been Easier</p>
            <p>"Join today.Save time and money"</p>
        </div>

        <div class="item">
            <p>Finding New Home Has Never Been Easier</p>
            <p>"Join today.Save time and money"</p>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

