{{#each comments}}
    <ul>
        <li>
            <b>{{user}} </b><span>| {{formatDate created}}</span>
            <p>{{text}}</p>
        </li>
    </ul>
{{/each}}
<a id="back-btn" href="#/search" class="btn btn-default"> >>> </a>

