{{#each comments}}

    <section>
        <b>{{user}} </b><span>| {{formatDate created}}</span>
        <p style="word-wrap: break-word">{{text}}</p>
    </section>
    </br>

{{/each}}

<a id="back-btn" href="#search" class="btn btn-default"> >>> </a>




