<div class="row">
    <article>
        <section class="col-md-4">
            <h3>Title Text</h3>
            <p>
                <img src="http://placehold.it/66x66" alt="">
                <span>Lorem ipsum dolor sit amet, leo consectetur adipiscing elit. Etiam ac nisl ut metus mollis sollicitudin efficitur ac justo. Integer laoreet, metus ac rutrum faucibus, sapien nunc posuere nibh, sed gravida nunc leo ut sem. Nulla faucibus egestas justo, at scelerisque tortor iaculis a.</span>
            </p>
            <div><a class="webly-btn pull-right">Read More</a></div>
        </section>
        <section class="col-md-4">
            <h3>Title Text</h3>
            <p>
                <img src="http://placehold.it/66x66" alt="">
                <span>Lorem ipsum dolor sit amet, leo consectetur adipiscing elit. Etiam ac nisl ut metus mollis sollicitudin efficitur ac justo. Integer laoreet, metus ac rutrum faucibus, sapien nunc posuere nibh, sed gravida nunc leo ut sem. Nulla faucibus egestas justo, at scelerisque tortor iaculis a.</span>
            </p>
            <div><a class="webly-btn pull-right">Read More</a></div>
        </section>
        <section class="col-md-4 ">
            <h3>Title Text</h3>
            <p>
                <img src="http://placehold.it/66x66" alt="">
                <span>Lorem ipsum dolor sit amet, leo consectetur adipiscing elit. Etiam ac nisl ut metus mollis sollicitudin efficitur ac justo. Integer laoreet, metus ac rutrum faucibus, sapien nunc posuere nibh, sed gravida nunc leo ut sem. Nulla faucibus egestas justo, at scelerisque tortor iaculis a.</span>
            </p>

            <div><a class="webly-btn pull-right">Read More</a></div>
        </section>
    </article>
</div>

<div class="row">
    <div id="multimedia-container">
        <div id="multimedia-left"></div>
        <div id="multimedia-center">
            <div>
                <a><img class="img-responsive" src="http://placehold.it/150x85" alt=""></a>
                <a><img class="img-responsive" src="http://placehold.it/150x85" alt=""></a>
                <a><img class="img-responsive" src="http://placehold.it/150x85" alt=""></a>
                <a><img class="img-responsive" src="http://placehold.it/150x85" alt=""></a>
                <a><img class="img-responsive" src="http://placehold.it/150x85" alt=""></a>
            </div>
        </div>
        <div id="multimedia-right"></div>
    </div>
</div>

