<div class="row">
    <article>
        <section class="col-md-4">
            <h3>What We Offer</h3>
            <p>
                <img src="https://placehold.it/66x66" alt="">
                <span>We offer our clients the best Real Estate offers in Bulgaria. On our website you can find
                beautiful houses, apartments and everything you need if you are looking for a new place to live.
                Our Website gathers offers from all over Bulgaria but we plan an expansion. We're taking over
                the World!</span>
            </p>
            <div><a href="" class="readmore pull-right">Read More</a></div>
        </section>
        <section class="col-md-4">
            <h3>Who We Are</h3>
            <p>
                <img src="https://placehold.it/66x66" alt="">
                <span>We offer our clients the best Real Estate offers in Bulgaria. On our website you can find
                beautiful houses, apartments and everything you need if you are looking for a new place to live.
                Our Website gathers offers from all over Bulgaria but we plan an expansion. We're taking over
                the World!</span>
            </p>
            <div><a href="" class="readmore pull-right">Read More</a></div>
        </section>
        <section class="col-md-4 ">
            <h3>Our Missions</h3>

            <p>
                <img src="https://placehold.it/66x66" alt="">
                <span>Our Mission is to provide the best quality of service to our clients. We do not offer just
                places to live... we strive to find our clients The Place they can call their home for years to
                come. We are also trying to make new friends along the way and make people happy with our work.</span>
            </p>

            <div><a href="" class="readmore pull-right">Read More</a></div>
        </section>
    </article>
</div>

<div class="row">
    <div id="multimedia-container">
        <div id="multimedia-left"></div>
        <div id="multimedia-center">
            <div>
                <a href=""><img class="img-responsive" src="https://placehold.it/150x82" alt=""></a>
                <a href=""><img class="img-responsive" src="https://placehold.it/150x82" alt=""></a>
                <a href=""><img class="img-responsive" src="https://placehold.it/150x82" alt=""></a>
                <a href=""><img class="img-responsive" src="https://placehold.it/150x82" alt=""></a>
                <a href=""><img class="img-responsive" src="https://placehold.it/150x82" alt=""></a>
            </div>
        </div>
        <div id="multimedia-right"></div>
    </div>
</div>

